name: SSH Tunnel for Home Assistant
version: '1.0.11'
slug: ssh_tunnel
description: Persistent SSH tunnel for Home Assistant
startup: application
init: false
arch:
  - amd64
  - armv7
  - aarch64
boot: auto
host_network: true
options:
  ssh_host: name_of_your_ssh_host
  ssh_user: homeassistant
  ssh_key_path: /config/ssh_tunnel_private_key

schema:
  ssh_host: str
  ssh_user: str
  ssh_key_path: str

map:
  - config:rw

homeassistant: true